<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
        <section name="connectionSettings"
                 type="DataAccessFramework.Configuration.ConnectionSettings, DataAccessFramework.Configuration"
                 requirePermission="false" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <entityFramework>
        <!-- In order to use SQL Server, use the following configuration element -->
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <!-- In order to use Local DB, use the following configuration element -->
        <!--defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory-->

        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <connectionSettings>
        <connectionDetails>
            <clear />
            <add key="ApplicationDataContext"
                 use="true"
                 type="EntityFramework"
                 dataContext="ApplicationDataContext"
                 dataSource="(LocalDB)\v11.0"
                 initialCatalog="ApplicationDatabase"
                 persistSecurityInfo="true"
                 integratedSecurity="false"
                 userId="sample"
                 password="database"
                 multipleActiveResultSets="true"
                 connectionTimeout="30"
                 provider="System.Data.SqlClient" />
        </connectionDetails>
    </connectionSettings>
</configuration>