<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="connectionSettings"
				 type="DataAccessFramework.Configuration.ConnectionSettings, DataAccessFramework.Configuration"
				 requirePermission="false" />
	</configSections>

	<connectionSettings>
		<connectionDetails>
			<clear />
			<add key="ApplicationDataContext"
				 use="true"
				 type="EntityFramework"
				 dataContext="ApplicationDataContext"
				 dataSource="localhost"
				 initialCatalog="MyDatabase"
				 persistSecurityInfo="true"
				 integratedSecurity="false"
				 userId="username"
				 password="password"
				 multipleActiveResultSets="true"
				 connectionTimeout="30"
				 provider="System.Data.SqlClient"
				 applicationName="EntityFramework" />
		</connectionDetails>
	</connectionSettings>
</configuration>