<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false" />
        <section name="connectionSettings"
                 type="DataAccessFramework.Configuration.ConnectionSettings, DataAccessFramework.Configuration"
                 requirePermission="false" />
    </configSections>

    <entityFramework>
        <!--defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" /-->
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="v11.0" />
            </parameters>
        </defaultConnectionFactory>
        <contexts>
            <context type="DataAccessFramework.ApplicationDataContext, DataAccessFramework">
                <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[DataAccessFramework.ApplicationDataContext, DataAccessFramework], [DataAccessFramework.Migrations.Configuration, DataAccessFramework]], EntityFramework" />
            </context>
        </contexts>
    </entityFramework>

    <connectionSettings>
        <connectionDetails>
            <clear />
            <add key="ApplicationDataContext"
                 use="true"
                 type="EntityFramework"
                 dataContext="ApplicationDataContext"
                 dataSource="(LocalDB)\v11.0"
                 initialCatalog="ApplicationDatabase"
                 persistSecurityInfo="true"
                 integratedSecurity="true"
                 multipleActiveResultSets="true"
                 connectionTimeout="30"
                 provider="System.Data.SqlClient" />
        </connectionDetails>
    </connectionSettings>
</configuration>